<p id="notice"><%= notice %></p>
<%= render 'layouts/navigation' %>
<h1>
  <strong>Title:</strong>
  <%= @product.title %>
</h1>

<p class="image">
  <%= image_tag(@product.img_url, class: 'list-image') %>
  <br>
  <strong>View</strong>
</p>


<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
