<!DOCTYPE html>

<%# this is a "wrapper file" tha wraps all the files i.e. pages of the site%>

<html>
  <head>
    <title>UBER - Chicago Connected</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <main class='<%=controller.controller_name%>'>
    <%= yield %>
    </main>
  </body>
    <%= render 'layouts/footer' %>
</html>
